.calendar-container {
    border: 1px #fff solid;
    width: 80%;
    margin: auto;
    background-color: #e97053;
}

.ant-select-item-option {
    background-color: #e97053;
    color: #fff;
    font-weight: 600;
}

.day-card {
    border: 1px #969393 solid;
    height: 100%;
    padding: 5%;
    color: #fff;
    font-weight: 500;
}

.today-date-card {
    border: 3px #546fe0 solid;
    height: 100%;
    color: #fff;
    font-weight: 500;
}

.date-card {
    border: 1px #969393 solid;
    height: 100%;
    padding: 5%;
    color: #fff;
    font-weight: 500;
}

.blocked-date-card {
    border: 1px #969393 solid;
    height: 100%;
    color: #b5a9a9;
    font-weight: 500;
    background-color: #924a39;
}

.calendar-date-rows {
    height: 100px;
}

@media only screen and (max-width: 1000px) {
    .calendar-days-row {
        width: 1000px;
    }

    .calendar-date-rows {
        height: 100px;
        width: 1000px;
    }
    .calendar-container {
        margin: 0 10%;
        overflow-x: scroll;
    }
}