.calendar-container {
    border: 1px black solid;
    width: 80%;
    margin: auto;
}

.day-card {
    border: 1px black solid;
    height: 100%;
        padding: 5%;
}

.today-date-card {
    border: 3px blue solid;
    height: 100%;
}

.date-card {
    border: 1px black solid;
    height: 100%;
    padding: 5%;
}

.blocked-date-card {
    background-color: grey;
    border: 1px black solid;
    height: 100%;
}

.calendar-date-rows {
    height: 100px;
}

@media only screen and (max-width: 1000px) {
    .calendar-days-row {
        width: 1000px;
    }

    .calendar-date-rows {
        height: 100px;
        width: 1000px;
    }
    .calendar-container {
        margin: 0 10%;
        overflow-x: scroll;
    }
}