.calendar-header-container {
    padding-top: 30px;    
    margin-bottom: 20px;
    display: flex;
}

.header-text {
    margin: 0px 10px;
    min-width: 70px;
    width: 70px;
}

.today-button {
    border-radius: 30px;
}

.nav-button {
    border: none;
    box-shadow: none;
}

.search-input {
    width: 100%;
    border-radius: 20px;
}